<table>
  <tr><%= link_to user_path(user) do %>
  <%= attachment_image_tag(user, :image, :fill, 100, 100, fallback: "no_image.jpg") %><% end %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.last_name_kana %><%= user.first_name_kana %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>status</th>
    <th><% if user.is_deleted == false %>
          <span style="color: green">有効</span>
          <% else %>
        　退会済み
          <% end %></span>
    </th>
  </tr>
  <tr>
	  <th><% if @user == current_user %>
    <%= link_to "プロフィール編集", edit_user_path(@user) %>
    <br/><%= link_to "退会する", user_withdraw_path %>
    <% end %>
	  </th>
  </tr>
</table>