<div class='info'>
 <table>
  <tr>
	  <th>
	    N&nbsp;A&nbsp;M&nbsp;E
	  </th>
	  <th>
	    &nbsp;<%= user.last_name_kana %>&nbsp;<%= user.first_name_kana %>
	  </th>
  </tr>
  <tr>
	  <th>
	    I&nbsp;N&nbsp;T&nbsp;R&nbsp;O&nbsp;D&nbsp;U&nbsp;C&nbsp;T&nbsp;I&nbsp;O&nbsp;N
	  </th>
	  <th>
	    &nbsp;<%= user.introduction %>
	  </th>
  </tr>
  <tr>
    <th>
      フォローしている人数 〜Your following〜<br>
       <span style="color: yellow">
         ※チャット可能 〜Chat available〜
       </span>
    </th>
    <th>
      &nbsp;<%= link_to followings_user_path(user.id) do %>&nbsp;&nbsp;<%= user.followings.count %>人<% end %>
    </th>
  </tr>
  <tr>
    <th>
      フォローされている人数 〜Your followers〜
    </th>
    <th>
      &nbsp;<%= link_to followers_user_path(user.id) do %>&nbsp;&nbsp;<%=user.followers.count %>人<% end %>
    </th>
  </tr>
  <tr>
    <th>
      会員状態 〜Current status〜
    </th>
    <th>
      <% if user.is_deleted == false %>
        <span style="color: green">
          &nbsp;&nbsp;利用中 〜valid〜
        </span>
         <% else %>
        　&nbsp;&nbsp;退会 〜invalid〜
         <% end %>
    </th>
  </tr>
 </table><br>
  <% if user == current_user %>
    <%= link_to "プロフィール編集 Edit profile", edit_user_path(user), class: 'btn btn-outline-light rounded-pill' %>
    <%= link_to "退会する Quit", user_withdraw_path, class: "btn btn-outline-danger" %>
  <% if unchecked_notifications.any? %>
    <i class="fa fa-circle" style="color: gold;"></i>
  <% end %>
    <%= link_to "通知 NOTICE", notifications_path, class: 'btn btn-outline-light rounded-pill' %>
  <% end %>
</div>