<h3>edit</h3>

 <%= form_with model: @user, url: admins_user_path, method: :patch, local:true do |f| %>

  <%= f.label :会員ステータス %>
  <%= f.radio_button :is_deleted, false %></span>
  <%= f.label :is_deleted, "有効" %>
  <%= f.radio_button :is_deleted, true %>
  <%= f.label :is_deleted, "退会" %>
  <%= f.submit "変更を保存", class: "btn btn-success"%>

<% end %>