<h2>Index Admin</h2>

<br><table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>会員ID</th>
      <th>会員登録日時</th>
      <th>名前</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.created_at.strftime('%Y/%m/%d') %></td>
      <td><%= link_to admins_user_path(user) do %><%= user.last_name+user.first_name %>(<%= user.last_name_kana+user.first_name_kana %>)<% end %>
      </td>
      <td><%= user.email %></td>
      <td><% if user.is_deleted == false %>
          <span style="color: green">有効</span>
          <% else %>
          <span style="color: gray">退会済み</span>
          <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
 </table>
<% paginate @users %>