<h1>show</h1>

<br><table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>名前</th>
      <th>ふりがな</th>
      <th>プロフィール画像</th>
      <th>紹介文</th>
      <th>ステータス</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user.last_name+@user.first_name %></td>
      <td><%= @user.last_name_kana+@user.first_name_kana %></td>
      <td><%= attachment_image_tag(@user, :image, :fill, 100, 100, fallback: "no_image.jpg") %></td>
      <td><%= @user.introduction %></td>
      <td><% if @user.is_deleted == false %>
          <span style="color: green">有効</span>
          <% else %>
          <span style="color: gray">退会済み</span>
          <% end %>
      </td>
    </tr>
  </tbody>
 </table>
<%= link_to "編集する", edit_admins_user_path(@user), class: "btn btn-success" %>
<%= link_to 'Destroy', admins_user_path(@user), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_user_#{@user.id}"%>