<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h2 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>"><%= @user.first_name_kana %> さんとのチャット</h2>

            <div id="sentence">
            <p><th style="text-align: left; font-size: 20px;"><%= current_user.first_name_kana %></p>
            <p><th style="text-align: right; font-size: 20px;"><%= @user.first_name_kana %></p>
            <p> <% @chats.each do |chat| %>
                <% if chat.user_id == current_user.id %></p>
                 <p style="text-align: left;"><%= chat.sentence %></p>
                 <% else %>
                 <p style="text-align: right;"><%= chat.sentence %></p>
                 <% end %>
              <% end %>
            </div>


            <%= form_with model: @chat do |f| %>
              <%= f.text_field :sentence %>
              <%= f.hidden_field :room_id %>
              <%= f.submit "送信", class: 'btn btn-success' %>
            <% end %>
        </div>
    </div>
</div>
