
 <div class='row'>
   <div class="picture" style="width:100%">
    <div class="mx-auto" style="width:70%">
      <div class="box"><br><br>
   <div class="field"><span style="font-size:20px; text-center">パスワードをお忘れですか？</span></div><br>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'email' %>
  </div>

  <div class="actions">
    <br><%= f.submit "Reset password", class: "btn btn-outline-light btn-lg rounded-pill" %>
  </div>
<% end %>

<div class="actions">
<br><%= render "users/shared/links" %>
</div>
<br><br>
</div>
  </div>
 </div>
</div>