<h1>Editing</h1>
    	<%= form_with model:@post, local: true do |f| %>
        <h4>単語</h4>
        <%= f.text_field :name %>
        <h4>意味</h4>
        <%= f.text_area :body %>
      <br><%= f.submit 'Update!' %>
  	    <h4><%= link_to 'Show', post_path(@post), class: "book_#{@post.id}" %> | <%= link_to 'Back', posts_path, class: "back" %></h4>
  		<% end %>