<!DOCTYPE html>
<html>
  <head>
    <title>WordShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-light p-4">
        <div class="container">
          <a class="navbar-brand" href="/"><img src="/assets/logo2.png", width="300", alt=""></a>
        <div id="sp-menu">
      <% if user_signed_in? %>
           <ul>
              <li>Let's word share !  <strong><%= current_user.last_name_kana + current_user.first_name_kana %> </strong>！ </li>
              <li><%= link_to "My page マイページ", user_path(current_user) %></li>
              <li><%= link_to "Share  words 単語を共有しよう", posts_path %></li>
              <li><%= link_to "Log out ログアウト", destroy_user_session_path, method: :delete %></li>
           </ul>
            <% elsif admin_signed_in? %>
           <ul>
              <li><%= link_to "会員一覧", admins_users_path %></li>
              <li><%= link_to "投稿一覧", admins_posts_path %></li>
              <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
           </ul>
            <% elsif current_page?(new_admin_session_path) %>
           <ul>
              <li><%= link_to "ログイン", new_admin_session_path %></li>
           </ul>
            <% else %>
             <ul>
              <li><%= link_to "HOME トップページ", root_path %></li>
              <li><%= link_to "JOIN 新規登録", new_user_registration_path %></li>
              <li><%= link_to "LOG IN　ログイン", new_user_session_path %></li>
             </ul>
            <% end %>
        </div>
        <div id="hm-icon">
        <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
        </a>
        </div>
        <script>
          $(function() {
            $('.menu-trigger').on('click', function(event) {
             $(this).toggleClass('active');
               $('#sp-menu').fadeToggle();
           event.preventDefault();
            });
          });
        </script>

       </div>
      </nav>
    </header>
    <%= yield %>
    <footer>
    <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
