<!DOCTYPE html>
<html>
  <head>
    <title>WordShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
              <li>Let's word share !   <%= current_user.last_name + current_user.first_name %> さん！ </li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <% elsif admin_signed_in? %>
              <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
            <% elsif current_page?(new_admin_session_path) %>
              <li><%= link_to "ログイン", new_admin_session_path %></li>
            <% else %>
              <li><%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark' %></li>
              <li><%= link_to "ログイン", new_user_session_path %></li>
            <% end %>
    </header>
    <%= yield %>
  </body>
</html>
